$primary-color: #527A71;
$secondary-color: #99C6BC;
$tertiary-color: #C6785E;
$light-color: #B7EDE0;
  // or #7A5C52
$heading-font: 'Open Sans', sans-serif;
$body-font: 'Roboto', sans-serif;
$heading-color: #222;
$body-color: #444;
$border-rad: 5px;
