$primary-color: #009688;
$primary-light: #52c7b8;
$primary-dark: #00675b;
$secondary-color: #ff5252;
$secondary-light: #ff867f;
$secondary-dark: #c50e29;
$heading-font: 'Open Sans', sans-serif;
$body-font: 'Roboto', sans-serif;
$heading-dark: #222;
$heading-light: #fff;
$body-dark: #444;
$body-light: #eee;
$border-rad: 5px;
