$primary-color: #00796b;
$primary-light: #48a999;
$primary-dark: #004c40;
$secondary-color: #ef5350;
$secondary-light: #ff867c;
$secondary-dark: #b61827;
$heading-font: 'Open Sans', sans-serif;
$body-font: 'Roboto', sans-serif;
$heading-color: #222;
$body-color: #444;
$border-rad: 5px;
