/* Styling for form */
main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  #add-new {
    display: inline-block;
    // z-index: 2;
    background-color: $secondary-color;
    @include border-radius($border-rad);
    margin: 1vh;
    border: 0;
    padding: 5px 10px;
    height: 3rem;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 1.778rem;
    color: $body-light;
    text-transform: uppercase;
  }

  #add-new:hover {
    box-shadow: 0 3px 4px 4px rgba(0,0,0,0.33);
  }
}
