/* Styling for header */
header {
  background-color: $primary-color;
  // margin: 0 0 2vh 0;
  width: 100%;
  padding: 2vh 0 2vh 1vw;

  h1 {
    color: $heading-light;
    margin: 0vh 0vw 0vh 1vw;
  }
}
