/* Styling for tables */
/* Styling for the train table */

table {
  text-align: left;
  border: 2px solid $tertiary-color;
  @include border-bottom-left-radius($border-rad);
  @include border-bottom-right-radius($border-rad);

  caption {
    display: table-caption;
    border: 0;
    @include border-top-left-radius($border-rad);
    @include border-top-right-radius($border-rad);
    color: #fff;
    font-family: $heading-font;
    text-align: center;
    font-size: 1.778rem;
  }

  tr {
    width: 100%;
  }

  tr:nth-child(even) {

  }

  tr:nth-child(odd) {

  }

  th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  th {
    font-family: $heading-font;
  }
}

